body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 { 
  font-size: 140%;
}

a {
  text-decoration: underline;
}

a:link {
  color: #3498db;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #2980b9;
}

a:active {
  color: #e74c3c;
}