@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Space+Mono&display=swap");

body {
    font-family: "Orbitron", Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #000; /* fallback if image fails to load */
    background-image: url("solar_system.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}

#page-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.80);
  min-height: 100vh;
}

#planet-list label,
#planet-details label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

#planet-list input[type="checkbox"],
#planet-details input[type="checkbox"] {
    margin-right: 0.5rem;
}

#data-output {
    display: block;
    width: 100%;
    box-sizing: border-box; /* include padding and border in the width */
    padding: 10px; /* same inner spacing on left and right */
    resize: vertical; /* optional: stops horizontal resizing */
    font-family: "Space Mono", "Consolas", "Lucida Console", "Courier New", monospace;
    font-size: 1.0rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.95);
}

input[type="checkbox"], input[type="button"], details summary {
    cursor: pointer;
}

#clear input[type="button"] {
    font-family: "Orbitron", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#selected-details {
    width: 100%;
}

#clear, details, p {
    margin-top: 2rem;
}

details p, details a,
details ul, details li {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: rgba(45, 46, 45, 0.8);
}

details, summary {
    color: rgba(45, 46, 45, 1.0);
}