/* CSS for Week 5 Discussion 5.7: XKCD Comic Randomizer */

/* A XKCD-style font! */
@font-face {
  font-family: 'xkcd';
  src: url('https://cdn.rawgit.com/ipython/xkcd-font/master/xkcd-script/font/xkcd-script.woff') format('woff');
}

body, input, button {
  font-family: 'xkcd', sans-serif;
}

h1 {
  color: rgba(45, 46, 45, 1.0); /* Adobe light black */
  font-size: 1.7rem
}

h2, p {
  color: rgba(14, 14, 14, 1.0); /* Adobe  black */
  font-size: 1.35rem

}

input button {
  font-family: 'xkcd', sans-serif;
  font-size: 1.2em;
  padding: 0.5em 1em;
  margin: 0.5em;
  border: none;
  border-radius: 10px;
  background-color: rgba(45, 46, 45, 1.0); /* Adobe light black */
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
}

img {
  width: 100vw;
  height: 100vh;
  object-fit: contain; /* Shrinks to fit completely inside without cropping */
  display: block;
  height: auto;
  cursor: pointer;
}

